@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --darkblue: rgb(30, 25, 44);
  --darkViolet: rgb(58, 40, 63);

  --blueColor: rgb( 0, 255, 255);
  --whiteColor: rgb(230, 230, 230);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
 /* letter-spacing: 2px; */
 font-weight: 700;
   min-height: 100%;
  color: var(--whiteColor);
  background: rgb(27, 27, 29);
  background: linear-gradient(180deg, var(--darkblue) 10%, var(--darkViolet) 40%, var(--darkblue) 95%);
  /* background: linear-gradient(180deg, rgb(30, 25, 44) 10%, rgb(27, 27, 29) 40%); */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

a {
  transition: 0.4s all;
}
a.active {
  color: var(--blueColor);
  text-shadow: 0 20px 20px  var(--blueColor);
}
nav a:hover {
  color: var(--blueColor);
  transform: translateY(4px);
}
