@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --darkblue: rgb(30, 25, 44);
  --darkViolet: rgb(58, 40, 63);
  --blueColor: rgb(0, 255, 255);
  --whiteColor: rgb(230, 230, 230);
  --black75: rgba(0, 0, 0, 0.75);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  font-weight: 700;
  min-height: 100%;
  color: var(--whiteColor);
  background: rgb(20, 14, 26);
  /* background: var(--darkblue); */
  /* background: linear-gradient(180deg, var(--darkblue) 10%, var(--darkViolet) 40%, var(--darkblue) 95%); */

  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

.link {
  transition: 0.4s all;
}
.link.active {
  color: var(--blueColor);
  text-shadow: 0 20px 20px var(--blueColor);
}
nav .link:hover {
  color: var(--blueColor);
  transform: translateY(4px);
}

@layer components {
  .btn_pagination {
    @apply w-[28px] h-[28px] sm:h-[40px] sm:w-[40px] flex justify-center items-center mx-0.5 sm:mx-1 bg-gray-300 rounded disabled:opacity-50;
  }
}
